.rc-virtual-list-scrollbar-thumb {
  border-radius: 0.3rem;
  background-color: #2a2626 !important;
  // border: 1px solid rgba(255,255,255,0.4);
  border: none !important;
}

.rc-virtual-list-scrollbar.rc-virtual-list-scrollbar-show {
  width: 1rem !important;
}
