{
  "printWidth": 120,
  "tabWidth": 2,
  "singleQuote": true,
  "useTabs": false,
  "semi": true,
  "vueIndentScriptAndStyle": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "arrowParens": "always",
  "requirePragma": false,
  "insertPragma": false,
  "importOrder": ["^@formily/(.*)", "^@(.*)$", "^[./]"],
  "importOrderSeparation": true
}
